DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require
SECRET_KEY=super-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
CORS_ORIGINS=*
PORT=8000
ADMIN_EMAIL=admin@salon.com
ADMIN_PHONE=999999999
ADMIN_PASSWORD=change123
ADMIN_NAME=Dueña del salón
LOGO_URL=
